* {
  margin: 0 0;
  padding: 0 0;
}

body {
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;

}

.main_wrapper {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 920px;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.canvas-wrapper {
 display: flex;
 justify-content: center;
}

.spark-canvas {
 transition: 5s;
 opacity: 1;
}

.spark-invisible {
  opacity: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 35px;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
}

.nav_logo-wrapper_logo {
  width: 70px;
  opacity: 0.8;
  margin-top: -20px;
  z-index: 1;
  margin-left: 50px;
}

.nav_menu {
  z-index: 1;
  height: 100%;
}

.nav_menu_link {
  color: white;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 2px 40px;
  transition: 0.5s;
}

.nav_menu_link:hover {
  color: rgba(180,42,63,0.7);
}

.nav_link_select {
  color: rgba(180,42,63,0.7);
}

.background_img {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.4;
  margin-top: -200px;
  width: 100%;
}

.music_left {
  width: 12.5%;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}  

.move_right_go {
  margin-right: 35%;
}

.music_right {
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12.5%;
  align-items: center;
}

.move_left_go {
  margin-left: 35%;
}

.album_wrapper {
  width: 70px;
  height: 70px;
  border: 1px solid #93CBCC;
  border-radius: 100%;
  cursor: pointer;
  background-size: cover;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 0;
  box-shadow: 0 0 30px rgba(147,203,204,0.8);
  transition: 1s;
  position: relative;
}

.album_wrapper_selected {
  border: 1px solid #B42A3F;
  box-shadow: 0 0 30px rgba(180,42,63,1);
}

.album_wrapper:hover {
  width: 90px;
  height: 90px;
}

.album_wrapper_visible {
  //opacity: 0.7;
}

#fidelity {
  background-image: url(../album_cover/fidelity.jpg);
}

#planet {
  background-image: url(../album_cover/planet.jpg);
}

#black_butterfly {
  background-image: url(../album_cover/black_butterfly.jpg);
}

#snowfall {
  background-image: url(../album_cover/snowfall_1.jpg);
}

#on_the_verge {
  background-image: url(../album_cover/on_the_verge.jpg);
}

#astronomy_autumn {
  background-image: url(../album_cover/astronomy_autumn.jpg);
}

#my {
  background-image: url(../album_cover/my.jpg);
}

#fallen_birds {
  background-image: url(../album_cover/fallen_birds.jpg);
}

.album_wrapper img {
  width: 70px;
}

.player_wrapper {
  width: 70%;
  height: 91%;
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 30%;
  overflow: hidden;
  opacity: 0;
  transition: 1s;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  font-family: 'Comfortaa', cursive;
}

.player_wrapper-visible {
  opacity: 1;
}

.player_album-title_wrapper {
  width: 100%;
  height: 15%;
  display: flex;
  color: rgba(147,203,204,0.8);
}

.player_album-title {
  margin: auto;
  font-weight: 300;
}

.player_progress_wrapper {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
}

.player_progress {
  margin-top: 50px;
  border-radius: 50%;
  border: 0.2px solid rgba(147,203,204,0.8);
  width: 40%;
  height: 0.3px;
  background-color: rgba(147,203,204,0.5);
  box-shadow: 0 0 10px rgba(147,203,204,1);
}

.play_list_wrapper {
  width: 50%;
  display: flex;
}

.play_list {
  width: 270px;
  height: 270px;
  overflow: hidden;
  margin: auto;
  border: 1px solid #93CBCC;
  background-color: transparent;
  background-size: cover;
  background-image: url(../album_cover/brightness.jpg);
  border-radius: 50%;
  transition: 1s;
  opacity: 0;
  box-shadow: 0 0 30px rgba(147,203,204,0.8);
  position: relative;
}

.play_list-coating {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: transparent; 
   box-shadow: 0 0 30px rgba(180,180,180,0.3);
  background-size: cover;
  opacity: 1;
  transition: 1s;
}

.cover_eclipse {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); 
  transition: 1s;
}

.play_list-coating_invisible {
  opacity: 0;
}

.play_list_visible {
  opacity: 0.8;
  }

.player_container {
  width: 50%;
  height: 70%;
  display: flex;
  position: relative;
}

.player_container_coating {
  position: absolute;
  width: 100%;
  height: 100%;
}

.player_container_coating_none {
  display: none;
}

.song {
  display: flex;
  width: 100%;
  height: 25%;
  justify-content: center;
  align-items: flex-end;
  filter: blur(0.3px);
}

.playarea {
  display: flex;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.fa-fast-forward {
  color: #93CBCC;
  transition: 0.5s;
  cursor: pointer;
}

.fa-fast-forward:hover {
  color: rgba(180,42,63,1);
}

.fa-fast-backward {
  color: #93CBCC;
  transition: 0.5s;
  cursor: pointer;
}

.fa-fast-backward:hover {
  color: rgba(180,42,63,1);
}

.fa-play {
  color: #93CBCC;
  transition: 1s;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  padding: 26px 28px;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(147,203,204,0.8) inset;
  border: 2px solid #93CBCC;
}

.fa-pause {
  color: #93CBCC;
  transition: 1s;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  padding: 26px 28px;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(147,203,204,0.8) inset;
  border: 2px solid #93CBCC;
}

.play-pause_action {
  z-index: 1;
  opacity: 1;
}

.play_time {
  display: flex;
  width: 100%;
  height: 15%;
  justify-content: center;
}

.player {
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  transition: 3s;
  font-weight: 300;
  font-size: 14px;
}

.play_wrapper_out {
  width: 81px;
  height: 81px;
  box-shadow: 0 0 80px rgba(147,203,204,1);
  border-radius: 50%;
  margin: 0 35px;
  transition: 0.5s;
  position: relative;
}

.play_wrapper_out:hover {
  box-shadow: 0 0 80px rgba(180,42,63,1);
}

.fa-pause:hover {
  box-shadow: 0 0 30px rgba(180,42,63,1) inset;
  border: 2px solid rgba(180,42,63,1);
  color: rgba(180,42,63,1);
}

.fa-play:hover {
  box-shadow: 0 0 30px rgba(180,42,63,1) inset;
  border: 2px solid rgba(180,42,63,1);
  color: rgba(180,42,63,1);
}

.play_wrapper_in {
  width: 80px;
  height: 80px;
  border: 2px solid #93CBCC;
  cursor: pointer;
  box-shadow: 0 0 30px rgba(147,203,204,0.8) inset;
  border-radius: 50%;
  display: flex;
  transition: 0.5s;
  position: relative;
}

.play_wrapper_in:hover {
  box-shadow: 0 0 30px rgba(180,42,63,1) inset;
  border: 2px solid rgba(180,42,63,1);
}

.play  {
  margin: auto;
  margin-left: 30px;
}

.orange {
  margin-right: 25px;
}

.main_title {
  position: absolute;
  width: 300px;
  left: 470px;
  top: 100px;
  opacity: 0.5;
}

.content_wrapper {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 81%;
  display: flex;
}

.music_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  transition: 1.5s;
  opacity: 0;
}

.music_container_transparent {
  transition: 1.5s;
  opacity: 0;
}

.music_container_visible {
  opacity: 1;
}

.footer {
  width: 100%;
  height: 19%;
  display: flex;
  border-radius: 10%;
  background-color: rgba(0,0,0,0.2);
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.footer_btn-wrapper {
  width: 12%;
  text-align: center;
}

.fa-fire {
  margin-top: 3px;
  color: rgba(81, 72, 30, 0.5);
}

.fa-fire:hover {
  color: white; 
  opacity: 0.5;
  transition: 1s;
  cursor: pointer;
}

.stopSparks {
  color: white;
  opacity: 0.5;
}

.stopSparks:hover {
  color: rgba(81, 72, 30, 0.5);
}

.footer_range-wrapper {
  width: 12%;
}

.footer_range-wrapper_container {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.footer_range-wrapper_moon {
  width: 30%;
  text-align: center;
}

.footer_range-wrapper_sun {
  width: 30%;
  text-align: center;
}

.footer_range-wrapper_range {
  width: 40%;
}

.fa-moon-o, .fa-sun-o {
  color: rgba(81, 72, 30, 0.5);
  margin-top: 5px;
}

input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  opacity: 0.9;
  background-color: transparent;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2F2A11;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #2F2A11;
  border: 1px solid #2F2A11;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #2F2A11;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2F2A11;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2F2A11;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #2F2A11;
  border: 1px solid #2F2A11;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #2F2A11;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2F2A11;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #2F2A11;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #2F2A11;
  border: 1px solid #2F2A11;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #2F2A11;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #2F2A11;
}

input[type=range]:focus::-ms-fill-upper {
  background: #2F2A11;
}

.footer_social {
  width: 76%;
  display: flex;
}

.footer_social_logo-wrapper {
  width: 60%;
  margin: 0 auto;
  height: 30px;
  display: flex;
  justify-content: space-around;
  margin-top: 4px;
}

.fa-github-alt {
  color: #B34EE9;
}

.social-logo-link {
  
}

.social_logo {
  width: 30px;
  opacity: 0.6;
}

.yandex_music {
  width: 25px;
}

.dynamic_container  {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  transition: 2s;
}

.feedback_container, .contacts_container, .chat_container {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 2s;
  display: none;
}


.dynamic_visible {
  opacity: 0.8;
}

/*--------------------feedback------------------*/

.feedback_wrapper {
  color: rgba(147,203,204,0.8);
  margin: auto;
  width: 60%;
  height: 85%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items:  center;
  opacity: 0.8;
}

.feedback_form {
  display: flex;
  flex-direction: column;
  align-items:  center;
}

.feedback_main_title {
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 50px;
}

.feedback_input_title {
  font-weight: 300;
  margin-bottom: 10px;
  color: white;
  font-size: 15px;
}

.feedback_input_wrapper {
  width: 100%;
  display: flex;
}

.feedback_input_container {
  width: 50%;
}

.feedback_img_wrapper {
  color: white;
  display: flex;
  width: 50%;
}

.fa-connectdevelop {
  margin: auto;
}

.feedback_input {
  border-radius: 5%;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  margin-bottom: 30px;
  color: rgba(147,203,204,0.8); 
  width: 100%;
  height: 40px;
  text-align: center;
  border: none;
  background-color: transparent;
  border:0.5px solid white;
}

.feedback_textarea_title {
  font-weight: 300;
  margin-bottom: 10px;
  color: white;
}

.feedback_textarea {
  border-radius: 10%;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  margin-bottom: 30px;
  color: rgba(147,203,204,0.8); 
  width: 400px;
  height: 120px;
  border: none;
  background-color: transparent;
  border:0.5px solid white;
  padding: 10px 10px;
}

.feedback_button {
  display: block;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10%;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  color: rgba(147,203,204,0.8);
  width: 150px;
  height: 40px;
  cursor: pointer;
  border:0.5px solid white;
  transition: 1s;
}

.feedback_button:hover {
  box-shadow: 0 0 30px rgba(147,203,204,0.8);
  color: white;
}

/*-------------------contacts------------------------------*/

.contact_link_wrapper {
  width: 30%;
  height: 85%;
  margin: auto;
}

.contact_link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 100%;
  padding: 20px 0px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  margin-top: 40px;
  opacity: 0.7;
  transition: 0.5s;
}

.contact_link:hover {
  color: rgba(147,203,204,0.8);
}

/*----------------------------concert---------------------------------*/

.concert_card_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.concert_card_main-title {
  width: 100%;
  height: 10%;
  color: rgba(147,203,204,0.8);
  font-weight: 300;
  text-align: center;
  box-sizing: border-box;
  padding-top: 17px;
}

.concert_card_container {
  width: 60%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  color: white;
}

.concert_card {
  box-sizing: border-box;
  width: 100%;
  height: 15%;
  border-radius: 3%;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  margin-top: 30px;
  display: flex;
  overflow: hidden;
  color: white;
}

.concert_card_title {
  width: 12%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  border-radius: 20%;
  text-align: center;
  line-height: 80px;
  font-weight: 300;
  color: rgba(147,203,204,0.8);
}

.concert_card_content_wrapper {
  width: 76%;
  height: 100%;
  display: flex;
}

.concert_card_content {
  margin: auto;
  text-align: center;
  font-weight: 300;
}

.concert_card_buy-ticket {
  width: 12%;
  height: 60%;
  margin-top: 15px;
  margin-right: 5px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 10%;
  border: 2px solid rgba(240,240,240,0.3);
  color: rgba(147,203,204,0.8);
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  font-weight: 300;
  transition: 1s;
}

.concert_card_buy-ticket:hover {
  border: 2px solid rgba(147,203,204,0.8);
  box-shadow: 0 0 5px rgba(147,203,204,0.8);
  color: white;
}

/*------------------------------chat----------------------------------*/

.chat {
  margin: auto;
  width: 400px;
  height: 80vh;
  max-height: 500px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*--------------------
Chat Title
--------------------*/
.chat-title {
  display: flex;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 10px 10px;
}

.name-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  height: 20px;
  margin: 0;
  padding-right: 20px;
  width: 95px;
  text-align: center;
  margin-top: 8px;
  margin-left: 190px; 
}

.name-input_change-color {
  color: red;
}

.name-submit {
  z-index: 1;
  color: white;
  border: none;
  background: rgba(147,203,204,0.8);
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 5px 8px;
  border-radius: 10px;
  outline: none !important;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
  cursor: pointer;
  opacity: 0.7;
}

.name-submit_change-color {
  background-color: red;
}

.chat-title_name {
  position: absolute;
  font-size: 12px;
  font-weight: normal;
  left: 60px;
  top: 18px;
}

.username {
  left: 300px;
  top: 18px;
  opacity: 0;
  transition: 2s;
}

.opacity_visible {
  opacity: 1;
}

.chat-title h2 {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 60px;
  top: 35px;
  font-size: 8px;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.chat-title .avatar {
  z-index: 1;
  top: 8px;
  left: 9px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.chat-title .avatar img {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

/*--------------------
Messages
--------------------*/
.messages {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.messages-templates {
  display: none;
}

.messages .messages-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
  padding: 0 10px;

}

.messages .message {
  clear: both;
  float: left;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: rgba(0, 0, 0, 0.3);
  margin: 8px 20px;
  font-size: 11px;
  line-height: 1.4;
  margin-left: 35px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.messages .message .timestamp {
  position: absolute;
  bottom: -15px;
  font-size: 9px;
  color: rgba(255, 255, 255, 0.3);
}

.messages .message::before {
  content: '';
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(0, 0, 0, 0.3);
  left: 0;
  border-right: 7px solid transparent;
}

.messages .message .avatar {
  position: absolute;
  z-index: 1;
  bottom: -15px;
  left: -35px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.messages .message .avatar img {
  width: 100%;
  height: auto;
}

.messages .message.message-personal {
  float: right;
  color: #fff;
  text-align: right;
  background: -webkit-linear-gradient(330deg, #248A52, #257287);
  background: linear-gradient(120deg, #248A52, #257287);
  border-radius: 10px 10px 0 10px;
}

.messages .message.message-personal::before {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 5px solid transparent;
  border-top: 4px solid #257287;
  bottom: -4px;
}

.messages .message:last-child {
  margin-bottom: 30px;
}

.messages .message.new {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: bounce 500ms linear both;
          animation: bounce 500ms linear both;
}

.messages .message.loading::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  border: none;
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}

.messages .message.loading span {
  display: block;
  font-size: 0;
  width: 20px;
  height: 10px;
  position: relative;
}

.messages .message.loading span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: -7px;
}

.messages .message.loading span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: 7px;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.messages .message.message-status {
  text-align: center;
  float: none;
  background: none;
  margin-left: 0;
  font-style: italic;
}

.messages .message.message-status::before {
  display: none;
}

/*--------------------
Message Box
--------------------*/
.message-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: relative;
}

.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
  height: 20px;
  margin: 0;
  padding-right: 20px;
  width: 200px;
}

.message-box input[type=text]:focus:-webkit-placeholder {
  color: transparent;
}

.message-box .message-submit {
  z-index: 1;
  color: white;
  border: none;
  background: rgba(147,203,204,0.8);
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 20px;
  border-radius: 10px;
  outline: none !important;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
  cursor: pointer;
  height: 35px;
}

.message-box .message-submit:hover {
  background: rgba(147,203,204,1);
}

.message-box .message-submit:disabled {
  opacity: 0.4;
}